{{ define "main" -}}
<h2 id="bio">Bio</h2>
{{ with .GetPage "/sections/aboutme.md" }}
{{ .Content }}
{{ end }}


{{ with .GetPage "/sections/contact.md" }}
<hr>
<h2 id="contact">Contact</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/office-hours.md" }}
<hr>
<h2 id="officehours">Office Hours</h2>
{{ .Content }}
{{ end }}

{{ $scratch := newScratch }}
{{ $scratch.Set "pubcnt" 0 }}

{{ with .Site.Data.publications }}
<hr>
<h2 id="publications">Publications</h2>
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}   
{{ end }}
{{ end }}
{{ end }}


{{ with .Site.Data.working_papers }}
<hr>
<h2 id="workingpapers">Working Papers</h2>
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}   
{{ end }}
{{ end }}
{{ end }}

{{ with .Site.Data.work_in_progress }}
<hr>
<h2 id="workinprogress">Work in Progress</h2>
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}   
{{ end }}
{{ end }}
{{ end }}

{{ with .GetPage "/sections/personal.md" }}
<hr>
<h2 id="personal">Personal</h2>
{{ .Content }}
{{ end }}

{{ .Content }}
{{- end }}
